// estilos para formularios Ilabv2

input#searchsubmit {
  @extend .button;
}

.wpcf7, .wpcf7-form {
  height: 100%;
  textarea {
    border: 0px !important;
  }
  input {
    border: 0px !important;

  }

}
p {
  margin-bottom: 0px !important;
}
label {
  @extend .color-texto;
  @extend .font-xxs;
}
.wpcf7-submit {
  @extend .color-azul-hover-bg;
  @extend .color-link-bg;
  @extend .color-claro;
  @extend .p-0-2;
  @extend .pointer;
}
// contacto bootcamp inscripcion
.become {

  .wpcf7-form {

    background-color: lightgray;
    padding: 16px !important;

    & label {
      @extend .color-texto;
      @extend .font-m;
    }
    & input {
      border:none;
      & .wpcf7-submit{
        @extend .p-2;
      }
    }
  }

}


// contacto general, footer, page
#contacto-general {

  input {
    @extend .h-5;
    @extend .p-0-1;
    @extend .color-texto;
  }
  textarea {
    @extend .p-0-1;
    // @extend .h-20;
    height: 10vh !important;
    @extend .color-texto;
  }

  .wpcf7-submit {
    @extend .p-0-2;
    @extend .button;
    @extend .color-blanco;
  }
}

div.wpcf7-response-output {
  margin: 0em 0.5em 0.5em !important;
  padding: 0.1em 1em !important;
  height: auto !important;
  margin-top: 0px !important;
}
//
.wpcf7-not-valid-tip {
  display: none !important;
}


// wp-admin login
body.login div#login form#loginform {

  @extend .color-blanco;

 }
.login-username {
  @extend .color-verde;
}
