@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


// Dependencias
@import "bower_components/font-awesome/scss/font-awesome";
@import "submodulos/style_utils/scss/style_utils";
@import "forms";
@import "colores";
//

// wires
// * { outline: 1px solid rgba(0,0,0,0.5);}
// web fonts
@font-face {
  font-family: 'dinregular';
  src: url('../fonts/dinregular-webfont.woff2') format('woff2'),
  url('../fonts/dinregular-webfont.woff') format('woff');
  // font-weight: normal;
  font-style: normal;

}
// resets
div, section, nav, article, ul {
  @extend .h-100;
  font-family: 'dinregular';
  font-weight: normal;
  @extend .color-texto;
}
input .wpcf7-submit {
  @extend .button;
  @extend .shadow;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'dinregular';
  font-weight: bold;
  @extend .color-texto;
}
a {
  color: orange;
}
li.active a div {
  color: orange !important;
}
a:hover {
  color: black;
}
li a:hover {
  color: black !important;
}
li.active a div {
  color: red !important;
}
object {
  @extend .color-white;
}
p {
  @extend .color-texto;
}
// generales
.altura-header {
  height: 15vh;
}
.altura-header-scroll {
  height: 10vh;
}
.altura-header-top {
  height: 35%;
}
.altura-header-top-scroll {
  height: 0%;
}
.altura-header-bottom {
  height: 65%;
}
.altura-header-bottom-scroll {
  height: 100%;
}
.p-top {
  padding-top: 15vh !important;
}
.p-top-side {
  padding-top: 12vh !important;
}
.shadow {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}
.shadow-up {
  box-shadow: -1px -1px 1px rgba(0,0,0,0.15);
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.pointer {
  cursor: pointer;
}
.font-light {
  font-weight: lighter !important;
}
.texto-gigante {
  font-size: 6.2em;
}
#header-movil-boton-icono {
  // @extend .button;
  // @extend .p-0;
  // background-color: transparent !important;
}
.link-seccion {
  & div {
    @extend .color-white;
  }

  &:hover {
    & div {
      @extend .color-negro;
    }
  }
}
#header {

  transition: 0.3s;

  #header-top {

    transition: 0.25s;
    @extend .ovH;

  }
}
.logo-header {
  height: 100%;
  width: auto;
}
//override breadcrumbs
.breadcrumb-container.theme1 a {
  padding: 5px 0px !important;
}
//
//override fullpage styles
.section {
  @extend .p-top;
}
.p-t-footer {
  padding-top: 8vh !important;
}
//

// movimiento de menu movil
.posicion-menu {
  transition: 1s;
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.gira-icono-menu {
  transition: 0.4s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.color-cerrado {
  color: blue;
}
.color-abierto {
  color: black;
}
.round {
  border-collapse: separate;
  -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
  border-radius: 20px;
}
//
#footer-widgets {
  & .h-footer-widget {
    height: 50vh;
    // @extend .p-top;
  }

}
.h-widget-contacto {
  height: 50vh;
}

//
// Parallax
// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}
// ------------- VARIABLES ------------- //

.paralax-bg {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .5);
  transform-style: inherit;
  overflow: hidden !important;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.paralax-bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.paralax-bg, .paralax-bg:before {
  background: 50% 50% / cover;

}

#inicio-nosotros .fondo {
  // background-image: url("http://loremflickr.com/1920/800/coop/all");
  background-attachment: fixed;
}

#inicio-bootcamp:before .fondo{
  // background-image: url("http://loremflickr.com/1920/800/peer/all");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#inicio-incuba .fondo {
  // background-image: url("http://loremflickr.com/1920/800/okupa,girl/all");
  background-attachment: fixed;
}

// #inicio-startups:before .fondo {
//   // background-image: url("http://loremflickr.com/1920/800/coop/all");
//   transform: translateZ(-1px) scale(2);
//   z-index:-1;
// }

#inicio-aliados:before .fondo {
  // background-image: url("http://loremflickr.com/1920/800/okupa/all");
  background-attachment: fixed;
}
// fin parallax

// sliders
.slick-dots {
  height: 10%;

  li {
    button::before {
      color: orange !important;
    }
  }
}
//


// responsivos
@media screen and (max-width:640px) {
  #footer-widgets {
    .h-footer-widget {
      height: 60vh !important;
    }
    .h-widget-contacto {
      height: auto !important;
    }
  }
}
@media screen and (min-width:640px) {

  .h-md-50 {
    height: 50%;
  }
  .h-md-70 {
    height: 70%;
  }
  .h-md-40-v {
    height: 40vh;
  }
  .h-md-70-v {
    height: 70vh;
  }
  .h-md-100-v {
    height: 100vh;
  }

}
